/* index */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:#080f28;
}

/*Carousel*/
#carousel-container {
    height: 50vh;
    overflow: hidden; 
    padding: 0%;
}

#carouselIndex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

#carouselIndex img {
    width: auto;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}

.card-text-synopsisInCarousel, .year{
  color:grey
}

.btn-carousel {
    width: 100px;
    z-index: 2;
}

/* Index-Cards */
.container-cardsIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.card-container {
    margin: 10px; 
    position: relative;
    overflow: hidden;
}

.card-container img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    min-height: 300px; 
}
.year {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 3;
    font-size: .75rem;
    font-weight: 700;
    background-color: #007aff;
    padding: 0 0.5rem;
    line-height: 1.2rem;
    border-radius: 1rem;
    color: white;
}

.card-block .btn-outline-primary {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
  }
  
  /* Flip Cards CSS */
.card-container {
    perspective: 300px;
}

.card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.7s ease-out;
    background: none;
    border: none;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    border: none;
}

.card-flip .front {
    position: relative;
    z-index: 1;
}

.card-flip .back {
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    background-color:#ffc107;
    height: 300px;
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}


/*SIGNUP & LOGIN FORM*/

.wrapper {
    max-width: 550px;
    min-height: 700px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
}

.logo {
    width: 500px;
    margin: auto;
    align-items: center;
}

.logo img {
    width: 30%;
    height: 200px;
    object-fit: cover;
    
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
   background-color:#080f28;;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}